@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.jumbotron {
  padding-block: 5%;
  margin-bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

.jumbotron h1 {
  margin-bottom: 7%;
}

.jumb-logo {
  width: 15%;
}

#hanging-icons {
  margin-bottom: 5%;
}

#accordionExample {
  margin-bottom: 10%;
}

.accordion-button:not(.collapsed) {
  background-color: #29202ea2;
  color: #ffffff;
}

.accordion-button:not(.collapsed)::after {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(7%) hue-rotate(17deg) brightness(106%) contrast(100%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(7%) hue-rotate(17deg) brightness(106%) contrast(100%);
}

.main-profile {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: rgba(135, 100, 151, 0.418);
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(8, 8, 8, 0.15);
          box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(8, 8, 8, 0.15);
  height: 100%;
}

.card {
  color: #000000;
  width: 40%;
  border-radius: 10px;
  background: #ffffff;
  -webkit-box-shadow: 20px 20px 60px #b8b8b8, -20px -20px 60px #d8d8d8;
          box-shadow: 20px 20px 60px #b8b8b8, -20px -20px 60px #d8d8d8;
  border: none;
  margin-block: 7%;
}

.info {
  color: #6c757d !important;
}

.line {
  color: #413849;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  padding-block: 10%;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.main-ch-profile {
  background-color: rgba(135, 100, 151, 0.418);
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(8, 8, 8, 0.15);
          box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(8, 8, 8, 0.15);
  height: 100%;
  padding-block: 5%;
}

.ch-row {
  height: 100%;
  border-radius: 10px;
  background: #ffffff;
  -webkit-box-shadow: 20px 20px 60px #b8b8b8, -20px -20px 60px #d8d8d8;
          box-shadow: 20px 20px 60px #b8b8b8, -20px -20px 60px #d8d8d8;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #ba68c8;
}

.rounded-circle {
  margin-bottom: 10%;
}

.labels {
  font-size: 11px;
}

.img {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  margin-bottom: 3%;
}

.img:hover {
  background-color: #00000041;
}

.img:hover .file-input__label {
  visibility: visible;
}

.img-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 50%;
  left: 37%;
  visibility: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  padding: 10px 12px;
  background-color: #000000;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

/* Timeline holder */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

ul.timeline > li {
  background: -webkit-gradient(linear, left top, left bottom, from(#d6a4ff36), to(#d6a4ff36));
  background: linear-gradient(180deg, #d6a4ff36 0%, #d6a4ff36 100%);
}

ul.timeline li.synonyms {
  background: -webkit-gradient(linear, left top, left bottom, from(#a4ffe836), to(#a4ffe836));
  background: linear-gradient(180deg, #a4ffe836 0%, #a4ffe836 100%);
}

ul.timeline li.antonyms {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffbea436), to(#ffbea436));
  background: linear-gradient(180deg, #ffbea436 0%, #ffbea436 100%);
}

/* Timeline vertical line */
ul.timeline:before {
  content: " ";
  background: #6d6170;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #fff;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
  content: " ";
  background: #9c79ca;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.headers {
  margin-bottom: 3%;
}

.progress-title {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  color: #000000;
  margin: 0 0 20px;
}

.progress {
  height: 7px;
  background: #000000;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
}

.progress-bar {
  background-color: #9c79ca;
  width: 60%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  position: relative;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s;
}

.progress-bar::before, .progress-bar::after {
  content: "";
  width: 20px;
  height: 20px;
  background: white;
  position: absolute;
  top: -6px;
  right: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  outline: 4px solid #9c79ca;
}

.progress-bar::after {
  border: 4px solid #fff;
  position: absolute;
  right: 2px;
  background: #9c79ca;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}

.arrow {
  font-size: 2rem;
}

.arrow-right {
  right: 0;
}

.progress-row {
  margin-block: 5%;
}

#search {
  height: 40rem;
}

.card-learn {
  border-radius: 10px;
  color: #5c647c;
  font-weight: 500;
}

.div1 {
  background-color: #f7f6fb;
  border-radius: 10px 10px 0 0;
}

.div2 {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}

.form-check-input {
  position: absolute;
  left: 20%;
  border-radius: 3px;
}

.form-check-label,
p {
  font-size: 1rem;
}

.modal-content {
  border-radius: 1rem;
}

*:focus {
  outline: none;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 21px;
  width: 21px;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background-color: #f9f8fe;
  border: 2px solid #cca6e6;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;
  z-index: 1000;
}

.option-input:focus,
.option-input:active,
.option-input:checked {
  background-color: #9941eb;
  outline: none;
  border: none;
}

label {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 7px;
}

.revising {
  padding-top: 15%;
  padding-bottom: 10%;
}

#learning {
  padding-top: 5%;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #6c757d;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.link:hover {
  color: #000;
}

* {
  scrollbar-width: thin;
  scrollbar-color: linear-gradient(180deg, #d0368a 0%, #708ad4 99%) #ffffff;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0368a), color-stop(99%, #708ad4));
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  -webkit-box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
          box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  border: 2px solid #ffffff;
}

.navbar {
  background: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(135, 100, 151, 0.418);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(8, 8, 8, 0.15);
          box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(8, 8, 8, 0.15);
}

.bi-facebook {
  color: #3b5998;
}

.bi-linkedin {
  color: #0077b5;
}

.bi-google {
  color: #dc4e41;
}

.bi-youtube {
  color: #cd201f;
}

.bi-twitter {
  color: #55acee;
}

.bi-instagram {
  color: #d0368a;
}

.bi-github {
  color: #000;
}

.bi {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.bi:hover {
  color: #6c757d;
}

.profile_button {
  color: white;
  text-decoration: none;
  padding: 10px;
  border: none;
  outline: 0 !important;
  border-radius: 50px;
  background: #632778;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.profile_button:hover {
  color: #7a6c7d;
  -webkit-box-shadow: inset 28px 28px 57px #682773, inset -28px -28px 57px #9b3bac;
          box-shadow: inset 28px 28px 57px #682773, inset -28px -28px 57px #9b3bac;
}
/*# sourceMappingURL=style.css.map */